aiagent_tgchat-4oAejNek6Lob4LDP.json
{"createdAt":"2025-07-10T04:10:59.716Z","updatedAt":"2025-07-17T08:11:33.000Z","id":"4oAejNek6Lob4LDP","name":"Aiagent_tgchat","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Get a Message').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-100],"id":"e3efd238-79d7-4f14-89b4-dcd821609e72","name":"Telegram2","webhookId":"efd849fa-2448-4afe-9349-6bac5a3844eb","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[180,180],"id":"e21a75dd-c627-47f7-865f-f302ef1ee924","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Параметры\nconst CHAR_LIMIT = 2000; // максимальное число символов в одном сообщении\n\n// Берём текст из первого входного элемента\nconst input = $input.first().json.output;\n\n// Разбиваем по двойному переносу строки (то есть на параграфы)\nconst paragraphs = input.split(/\\n\\s*\\n/);\n\n// Собираем чанки\nconst chunks = [];\nlet current = '';\n\nfor (const p of paragraphs) {\n  // если добавление этого параграфа в текущий чанк не превысит лимит\n  if ((current + '\\n\\n' + p).length <= CHAR_LIMIT) {\n    current = current ? `${current}\\n\\n${p}` : p;\n  } else {\n    // иначе — сохраняем текущий чанк и начинаем новый\n    if (current) chunks.push(current);\n    current = p;\n  }\n}\n// не забываем добавить последний чанк\nif (current) {\n  chunks.push(current);\n}\n\n// Формируем выходные итемы: каждый чанк — это отдельный объект с полем output\nreturn chunks.map(textChunk => ({\n  json: { output: textChunk }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-100],"id":"edd053ce-d110-4bc1-87a3-eb299a9557b9","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09ca4b8c-fa74-4d07-b276-ae63db05aa17","leftValue":"={{ $json.message.text }}","rightValue":"={{ $json.message.text }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-60,-80],"id":"5b2341fb-c68a-4398-a210-11b7c73c4bb7","name":"Switch"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,-280],"id":"32040c67-843d-4f15-9356-7ef15e33b594","name":"typing","webhookId":"be240617-c733-4e2a-ae60-4291bfa78e23","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-500,-80],"id":"5317ebd9-4ed3-419b-8cb2-17d7f8194b01","name":"Get a Message","webhookId":"2d8cc69d-2715-4e16-8803-6f16621e73a4","notesInFlow":false,"credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"В ответах используй смайлики, для того чтобы они были более живыми"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[140,-100],"id":"89022601-bae3-4ffc-995a-7e09b0be1c17","name":"Ai Agent Gemini","alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Бот не может обработать данный вид сообщение, попробуйте отправить другое сообщение.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-60,180],"id":"f2e2e4bd-4633-428a-bbb8-66ecf38cafe9","name":"ErrorMessage","webhookId":"23470dd1-082f-4735-b676-f9e9c2e99cfb","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Get a Message').item.json.message.chat.id }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,180],"id":"7366d1f2-b1c6-44b1-b984-018a5148bbba","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c7954375-bb9b-4c7e-bc74-b649c9ac2b78","leftValue":"={{ $json.result.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,-100],"id":"5b3c61e5-3911-41d9-9bb0-9078edafd580","name":"If"},{"parameters":{"chatId":"={{ $('Get a Message').item.json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1440,-220],"id":"1fefa394-4869-4613-a46e-47d59c190e05","name":"Telegram","webhookId":"efd849fa-2448-4afe-9349-6bac5a3844eb","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"f5989fe2-52c2-4a7a-991a-abe02afc3e55","name":"message","value":"=Во время отправки ответа произошла ошибка:\n\n{{ \n  $json.error\n    .map(err => '```' + err + '```')\n    .join('\\n\\n')\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,-220],"id":"3f53311c-3e74-40ac-aa8f-256ddcca844e","name":"Edit Fields"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"error"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1080,-220],"id":"91b80bc6-05fd-495e-9590-3eabbceb1e4e","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=Во время отправки ответа на запрос в телеграмм произошла ошибка, проанализируй ошибки, ответ который должен был отправиться и предложим варианты решения.\n\nЭто запрос пользователя: \n {{ $('Switch').item.json.message.text }}\n\nЭто ответ который долен был отправиться в телеграм\n{{ $('Code').item.json.output }}\n\nЭто ошибка которая произошла\n{{ $('If').item.json.error }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[740,-780],"id":"de840aa0-d8a6-4615-85e0-3625e0670405","name":"AI Agent","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,-540],"id":"4be9fb0b-f1ba-46c3-9c89-99b3aeaee9b9","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"errorMessage":"={{ $json.output }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1180,-740],"id":"d779bee7-b20d-4243-8735-cabe1971f6a8","name":"Stop and Error","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=Во время отправки ответа на запрос в телеграмм произошла ошибка, проанализируй ошибки, ответ который должен был отправиться и предложим варианты решения.\n\nЭто запрос пользователя: \n {{ $('Switch').item.json.message.text }}\n\nЭто ответ который долен был отправиться в телеграм\n{{ $('Code').item.json.output }}\n\nЭто ошибка которая произошла\n{{ $('If').item.json.error }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[20,-640],"id":"9f25901b-3a7c-4289-b875-582a89c6d711","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-20,-420],"id":"e5326874-cd3c-491c-836d-7c31bd1e5f8a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"v0DlMn0TYMqsVPmd","name":"OpenRouter account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Ai Agent Gemini","type":"ai_languageModel","index":0}]]},"Telegram2":{"main":[[],[]]},"Code":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Ai Agent Gemini","type":"main","index":0}],[{"node":"ErrorMessage","type":"main","index":0}]]},"typing":{"main":[[]]},"Get a Message":{"main":[[{"node":"typing","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Ai Agent Gemini":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Ai Agent Gemini","type":"ai_memory","index":0}]]},"If":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram":{"main":[[]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bcQQ6FgxYk3RibuS","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a11a900e-1c6c-4bb9-8ffc-c948205aaf66","triggerCount":1,"tags":[]}