aiagent_tgchat-4oAejNek6Lob4LDP.json
{"createdAt":"2025-07-10T04:10:59.716Z","updatedAt":"2025-07-11T17:37:00.000Z","id":"4oAejNek6Lob4LDP","name":"Aiagent_tgchat","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Get a Message').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[840,-100],"id":"e3efd238-79d7-4f14-89b4-dcd821609e72","name":"Telegram2","webhookId":"efd849fa-2448-4afe-9349-6bac5a3844eb","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Get a Message').item.json.message.chat.id }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[120,120],"id":"7366d1f2-b1c6-44b1-b984-018a5148bbba","name":"Simple Memory"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-20,120],"id":"e21a75dd-c627-47f7-865f-f302ef1ee924","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Параметры\nconst CHAR_LIMIT = 2000; // максимальное число символов в одном сообщении\n\n// Берём текст из первого входного элемента\nconst input = $input.first().json.output;\n\n// Разбиваем по двойному переносу строки (то есть на параграфы)\nconst paragraphs = input.split(/\\n\\s*\\n/);\n\n// Собираем чанки\nconst chunks = [];\nlet current = '';\n\nfor (const p of paragraphs) {\n  // если добавление этого параграфа в текущий чанк не превысит лимит\n  if ((current + '\\n\\n' + p).length <= CHAR_LIMIT) {\n    current = current ? `${current}\\n\\n${p}` : p;\n  } else {\n    // иначе — сохраняем текущий чанк и начинаем новый\n    if (current) chunks.push(current);\n    current = p;\n  }\n}\n// не забываем добавить последний чанк\nif (current) {\n  chunks.push(current);\n}\n\n// Формируем выходные итемы: каждый чанк — это отдельный объект с полем output\nreturn chunks.map(textChunk => ({\n  json: { output: textChunk }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-100],"id":"edd053ce-d110-4bc1-87a3-eb299a9557b9","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09ca4b8c-fa74-4d07-b276-ae63db05aa17","leftValue":"={{ $json.message.text }}","rightValue":"={{ $json.message.text }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,-80],"id":"5b2341fb-c68a-4398-a210-11b7c73c4bb7","name":"Switch"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-520,-320],"id":"32040c67-843d-4f15-9356-7ef15e33b594","name":"typing","webhookId":"be240617-c733-4e2a-ae60-4291bfa78e23","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-760,-80],"id":"5317ebd9-4ed3-419b-8cb2-17d7f8194b01","name":"Get a Message","webhookId":"2d8cc69d-2715-4e16-8803-6f16621e73a4","notesInFlow":false,"credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"В ответах добавляй смайлики, чтобы они смотрелись более приятно."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[60,-100],"id":"89022601-bae3-4ffc-995a-7e09b0be1c17","name":"Ai Agent Gemini"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Бот не может обработать данный вид сообщение, попробуйте отправить другое сообщение.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-280,180],"id":"f2e2e4bd-4633-428a-bbb8-66ecf38cafe9","name":"ErrorMessage","webhookId":"23470dd1-082f-4735-b676-f9e9c2e99cfb","credentials":{"telegramApi":{"id":"os6g6FGtQz0jfEXB","name":"Aiagent_tgchat"}}},{"parameters":{"errorMessage":"123"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[420,-100],"id":"f72aa478-fd5a-459a-bd6e-ccce9ca6a01d","name":"Stop and Error"}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"Ai Agent Gemini","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Ai Agent Gemini","type":"ai_languageModel","index":0}]]},"Telegram2":{"main":[[],[]]},"Code":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Ai Agent Gemini","type":"main","index":0}],[{"node":"ErrorMessage","type":"main","index":0}]]},"typing":{"main":[[]]},"Get a Message":{"main":[[{"node":"typing","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Ai Agent Gemini":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bcQQ6FgxYk3RibuS","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44ee19fd-0230-4e02-8f90-5e33f4f965a3","triggerCount":1,"tags":[]}