autobackup-n8n-3CsBjEY8iubpdJj2.json
{"createdAt":"2025-07-11T11:42:59.245Z","updatedAt":"2025-07-12T18:54:06.000Z","id":"3CsBjEY8iubpdJj2","name":"Autobackup-n8n","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"4caf2b40-bc06-4a65-8691-b2fd65de59e7","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1760,2220]},{"parameters":{"options":{}},"id":"690104d1-fff2-46e9-9a87-beb6be18f582","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1980,2340]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"fe540619-f310-41c7-b623-ae0295bbd114","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[2180,2340]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0dd74a20-baec-4ec0-b2e3-5641b4f5ab99","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[2380,2340]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"maksim-dev1","mode":"list","cachedResultName":"maksim-dev1","cachedResultUrl":"https://github.com/maksim-dev1"},"repository":{"__rl":true,"value":"n8n_backups","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://github.com/maksim-dev1/n8n_backups"},"filePath":"="},"id":"6ca16bbb-876b-4700-8d2b-d1135140735a","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2580,2340],"alwaysOutputData":true,"webhookId":"a6048254-03b4-4537-b524-5ccdba369685","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"83683ef6-3dee-42e1-be51-b069a6e7ccf0","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[2780,2340]},{"parameters":{"filters":{},"requestOptions":{}},"id":"095c187c-5f03-453f-971f-520ef4b11e0a","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2980,2340],"credentials":{"n8nApi":{"id":"EloCa63JdRv43eYD","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"49c8cf2e-b280-4cd2-903c-ebb90f4614c1","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[3180,2340]},{"parameters":{"batchSize":1,"options":{}},"id":"28efd4b2-c4f9-41ce-b08e-adb6dafce710","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[3420,2340]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"c1d0e25b-8770-4c89-9000-08a744a2c90a","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[3660,2260]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"maksim-dev1","mode":"list","cachedResultName":"maksim-dev1","cachedResultUrl":"https://github.com/maksim-dev1"},"repository":{"__rl":true,"value":"n8n_backups","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://github.com/maksim-dev1/n8n_backups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"e9beb896-af85-41af-a7fc-10f5553bb58b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3880,2060],"webhookId":"48926623-254d-4ac8-85a9-a8461867ad21","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"maksim-dev1","mode":"list","cachedResultName":"maksim-dev1","cachedResultUrl":"https://github.com/maksim-dev1"},"repository":{"__rl":true,"value":"n8n_backups","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://github.com/maksim-dev1/n8n_backups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"c9e083c6-28f4-49a7-bc8b-fda4aee8aa04","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3880,2460],"webhookId":"c7ea8543-d76a-4cd4-ac42-972b9c5e0f75","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1760,2440],"id":"83691edc-9cb0-47cc-bae0-ea0f55858fce","name":"Schedule Trigger1"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","executionOrder":"v0","errorWorkflow":"bcQQ6FgxYk3RibuS"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateId":"4064","templateCredsSetupCompleted":true},"pinData":{},"versionId":"3ab2fbca-17f1-4ca7-b64e-d676a008fe2c","triggerCount":1,"tags":[]}