bank-OsV3lqyz5LnbssKR.json
{"createdAt":"2025-07-29T22:41:34.590Z","updatedAt":"2025-07-30T20:28:44.000Z","id":"OsV3lqyz5LnbssKR","name":"bank","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2900,-40],"id":"34781511-8c94-47b6-af42-acd6f7f54355","name":"Telegram Trigger","webhookId":"0db64f61-924d-41cf-9c83-b2d25e2a87bb","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"569dc97f-b8b5-4921-9335-61c974e6c595","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177795a3-bb50-45ff-af81-f338692be85e","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"add"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3969370c-4bb0-4e76-a56f-124795104e8a","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"page","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"page"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff49fe20-912c-49c9-8de7-838303b5fe46","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"num","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"num"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8af7fd9-4cb6-4cc4-9cc9-1d667265ec8b","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"custom","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"custom"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2a7a7c2f-d5a7-4f82-8b47-d8361daf505b","leftValue":"={{ $json.message.text }}","rightValue":"^\\d+(\\.\\d+)?$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"custom_num"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8952067-2898-40d6-a21e-b3c377985a97","leftValue":"={{ $json.callback_query.data }}","rightValue":"cancel","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9c9493f-086b-4ab7-ab88-76154c859687","leftValue":"={{ $json.callback_query.data }}","rightValue":"stats","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stats"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2580,-140],"id":"2596010a-5431-4fe7-b500-4e0cb6212166","name":"Switch"},{"parameters":{"jsCode":"// Параметры\nconst perPage = 21; // сколько кнопок-чисел на странице\nconst input = $input.first().json.amounts;\n// callback_data приходит в формате \"<тип>_<значение>\",\n// где тип может быть \"page\", \"num\" или \"custom\"\nconst data = $input.first().json.chat_context.callback_data.split('_');\nconst action = data[0]; // \"page\", \"num\" или \"custom\"\nconst payload = data[1]; // сам номер страницы или сумма\n\n// Если пользователь нажал на \"Далее\" или \"Назад\"\nlet page = 0;\nif (action === \"page\") {\n  page = parseInt(payload, 10);\n}\n// Если выбрал сумму — обработка в отдельной ветке Switch\nif (action === \"num\") {\n  return [{ json: { type: \"select\", amount: payload } }];\n}\n// Если кастом — передаём флаг\nif (action === \"custom\") {\n  return [{ json: { type: \"custom\" } }];\n}\n\n// Собираем клавиатуру для текущей страницы\nconst buttons = [];\nconst start = page * perPage;\nconst pageItems = input.slice(start, start + perPage);\n\nfor (let i = 0; i < pageItems.length; i += 3) {\n  const row = pageItems.slice(i, i + 3).map((item) => ({\n    text: `${item.json.amounts}₽`,\n    callback_data: `num_${item.json.amounts}`,\n  }));\n  buttons.push(row);\n}\n\n// Кнопка «Кастомная»\nbuttons.push([{ text: \"💸 Ввести свою сумму\", callback_data: \"custom_\" }]);\n\n// Строка навигации\nconst navRow = [];\n// Кнопка «Назад»\nif (page > 0) {\n  navRow.push({ text: \"⬅️ Назад\", callback_data: `page_${page - 1}` });\n}\n// Кнопка «Далее»\nif (start + perPage < input.length) {\n  navRow.push({ text: \"Далее ➡️\", callback_data: `page_${page + 1}` });\n}\nif (navRow.length) buttons.push(navRow);\n\nbuttons.push([{ text: \"❌ Отменить\", callback_data: \"cancel\" }]);\n\nreturn [\n  {\n    json: {\n      chat_id: $input.first().json.chat_context.chat_id,\n      message_id: $input.first().json.chat_context.message_id,\n      text: `Выберите сумму (страница ${page + 1} из ${Math.ceil(input.length / perPage)}):`,\n      reply_markup: { inline_keyboard: buttons },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,-1560],"id":"45c26a20-2de7-4609-8eb0-fe41868f3355","name":"Code"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8176356339:AAE_BEqhtPErznWZ15266SgLRLVIBMojFtw/editMessageText","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,-1560],"id":"04a0bcec-daf4-4ebc-b642-db3ce685444c","name":"HTTP Request"},{"parameters":{"chatId":"={{ $('Switch').item.json.message.chat.id }}","text":"Выберите действие:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Добавить","additionalFields":{"callback_data":"add"}},{"text":"Статистика","additionalFields":{"callback_data":"stats"}}]}},{"row":{"buttons":[{"text":"❌ Отменить","additionalFields":{"callback_data":"cancel"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,-2220],"id":"417eed06-bc4e-44ca-9984-7aa71bb0ba67","name":"telegram send message(add/stats)","webhookId":"79c67553-7d66-420d-9d0a-7ac56d3b5f8d","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst sheetsData = items.filter(item => item.json.amounts !== undefined);\nconst contextData = items.find(item => item.json.chat_id !== undefined)?.json || {};\n\nreturn {\n  chat_context: contextData,\n  amounts: sheetsData,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-1560],"id":"3111d8e6-2058-4aa8-8dc6-7e9293dc3ff9","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"4acc9e86-5a98-48dd-b769-fcf683ce9775","name":"chat_id","value":"={{ $('Switch').item.json.callback_query.message.chat.id }}","type":"string"},{"id":"b54fff70-8259-44b3-a54f-b07c690d28ef","name":"callback_data","value":"={{ $('Switch').item.json.callback_query.data }}","type":"string"},{"id":"573f735c-829c-4ecf-99a5-a24b6644f904","name":"message_id","value":"={{ $('Switch').item.json.callback_query.message.message_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,-1460],"id":"bb2b0a56-c902-4506-9cef-f22767575e08","name":"save context"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1720,-1560],"id":"e327f9cb-2232-4269-a2cb-acb0aa026fd3","name":"Merge"},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query.id ||  $json.callback_query}} ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,-1540],"id":"ee3e46d9-f86f-43be-8f90-24816e5098a0","name":"telegram answer query","webhookId":"f66443f7-cb8d-4787-9217-28259b4b49c9","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588541150,"mode":"list","cachedResultName":"History","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=1588541150"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $json.date }}","tg_chat_id":"={{ $json.tg_chat_id }}","tg_chat_first_name":"={{ $json.tg_chat_first_name }}","tg_chat_username":"={{ $json.tg_chat_username }}","added_amount":"={{ $json.added_amount }}"},"matchingColumns":["id"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_chat_id","displayName":"tg_chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tg_chat_first_name","displayName":"tg_chat_first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tg_chat_username","displayName":"tg_chat_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_amount","displayName":"added_amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1700,-980],"id":"a4df7dd6-28a7-41f5-92bd-d993c1ecfd80","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c446fc0-2553-485c-bcb9-a094d95c44df","name":"date","value":"={{ $now }}","type":"string"},{"id":"75ec224a-a586-4f2a-aa0f-dd8ed25c091d","name":"tg_chat_id","value":"={{ $('Switch').item.json.callback_query.message.chat.id }}","type":"string"},{"id":"f46c1557-c96b-4f96-ae77-5a9d0a81ebcb","name":"tg_chat_first_name","value":"={{ $('Switch').item.json.callback_query.message.chat.first_name }}","type":"string"},{"id":"07f0f8c6-1a4a-427c-a3c8-47d67596487f","name":"tg_chat_username","value":"=@{{ $('Switch').item.json.callback_query.message.chat.username }}","type":"string"},{"id":"2039abad-40de-413b-bf20-0707e5e7e6ab","name":"added_amount","value":"={{ $('Switch').item.json.callback_query.data.split('_')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,-980],"id":"c12034eb-d96a-464a-a030-7fa5a50d750f","name":"collecting data"},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Available","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"added","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,-1660],"id":"c3aa7c3a-697d-476b-8af4-bae8751e3d03","name":"google sheets get all amounts","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Available","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"amounts","lookupValue":"={{ $('Switch').item.json.callback_query.data.split('_')[1] }}"},{"lookupColumn":"added","lookupValue":"false"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,-800],"id":"d99c44b4-effe-4310-a90f-e2d235cce9bf","name":"google sheets get all amounts1","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Available","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"added":"true","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"amounts","displayName":"amounts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"added","displayName":"added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"301200","displayName":"301200","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"126","displayName":"126","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1700,-800],"id":"beb9a742-cda0-4056-8e72-51445820bccf","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":489803805,"mode":"list","cachedResultName":"current_users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=489803805"},"columns":{"mappingMode":"defineBelow","value":{"tg_chat_id":"={{ $json.result.chat.id }}","tg_first_name":"={{ $json.result.chat.first_name }}","tg_username":"={{ $json.result.chat.username }}","tg_message_id":"={{ $json.result.message_id }}"},"matchingColumns":["tg_chat_id"],"schema":[{"id":"tg_chat_id","displayName":"tg_chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_first_name","displayName":"tg_first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_username","displayName":"tg_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_message_id","displayName":"tg_message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2460,-1560],"id":"42c9fae4-eaff-4e50-bf56-e8a898888896","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":489803805,"mode":"list","cachedResultName":"current_users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=489803805"},"filtersUI":{"values":[{"lookupColumn":"tg_chat_id","lookupValue":"={{ $('Switch').item.json.callback_query.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,-600],"id":"7f3ae99c-9016-4559-9a96-47796534c836","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,-2220],"id":"32ef8afb-4180-404d-84a4-d6c3849985e5","name":"add action typing","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,-1840],"id":"22f83f81-ac31-4817-9759-d8d5933bb028","name":"add action typing1","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query.id ||  $json.callback_query}} ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,-900],"id":"0dc7d010-72b1-45f2-87f4-4d2e7e8c3140","name":"telegram answer query1","webhookId":"f66443f7-cb8d-4787-9217-28259b4b49c9","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1700,-1180],"id":"979cb387-abd9-4c20-8513-735baf553339","name":"add action typing2","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query.id ||  $json.callback_query}} ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,-220],"id":"20b0b0ac-c883-419f-9800-52e7b32d82f9","name":"telegram answer query2","webhookId":"f66443f7-cb8d-4787-9217-28259b4b49c9","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,-340],"id":"71607b9a-fa80-4b70-9e13-227b4dd9b184","name":"add action typing3","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}","messageId":"={{ $('Switch').item.json.callback_query.message.message_id }}","replyMarkup":"inlineKeyboard","text":"Введите сумму:","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"❌ Отменить","additionalFields":{"callback_data":"cancel"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,-140],"id":"80ad566a-5822-4324-a90a-871fcec0772f","name":"send message custom","webhookId":"35bec7b7-96de-4d4b-90d2-0847a397d9bc","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1588541150,"mode":"list","cachedResultName":"History","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=1588541150"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $json.date }}","tg_chat_id":"={{ $json.tg_chat_id }}","tg_chat_first_name":"={{ $json.tg_chat_first_name }}","tg_chat_username":"={{ $json.tg_chat_username }}","added_amount":"={{ $json.added_amount }}"},"matchingColumns":["id"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_chat_id","displayName":"tg_chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tg_chat_first_name","displayName":"tg_chat_first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tg_chat_username","displayName":"tg_chat_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_amount","displayName":"added_amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,260],"id":"6a11cd24-260b-4fbf-9dec-494f4c0e178b","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c446fc0-2553-485c-bcb9-a094d95c44df","name":"date","value":"={{ $now }}","type":"string"},{"id":"75ec224a-a586-4f2a-aa0f-dd8ed25c091d","name":"tg_chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"f46c1557-c96b-4f96-ae77-5a9d0a81ebcb","name":"tg_chat_first_name","value":"={{ $json.message.chat.first_name }}","type":"string"},{"id":"07f0f8c6-1a4a-427c-a3c8-47d67596487f","name":"tg_chat_username","value":"=@{{ $json.message.chat.username }}","type":"string"},{"id":"2039abad-40de-413b-bf20-0707e5e7e6ab","name":"added_amount","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,260],"id":"0995c56c-9db4-4dab-8682-167620a4d100","name":"collecting data1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":489803805,"mode":"list","cachedResultName":"current_users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=489803805"},"columns":{"mappingMode":"defineBelow","value":{"tg_chat_id":"={{ $json.result.chat.id }}","tg_first_name":"={{ $json.result.chat.first_name }}","tg_username":"={{ $json.result.chat.username }}","tg_message_id":"={{ $json.result.message_id }}"},"matchingColumns":["tg_chat_id"],"schema":[{"id":"tg_chat_id","displayName":"tg_chat_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_first_name","displayName":"tg_first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_username","displayName":"tg_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tg_message_id","displayName":"tg_message_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1700,-140],"id":"13c1c99e-360b-46d9-b2e2-5e43e79d573d","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":489803805,"mode":"list","cachedResultName":"current_users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=489803805"},"filtersUI":{"values":[{"lookupColumn":"tg_chat_id","lookupValue":"={{ $json.message.chat.id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1080,420],"id":"d6d7768e-beb7-4c5f-8ff8-1060c26b9498","name":"Google Sheets6","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.tg_chat_id }}","messageId":"={{ $json.tg_message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,420],"id":"6f88648b-b4fb-4315-8b34-beced79bf870","name":"Telegram1","webhookId":"32e4b030-537b-4397-994e-92e187a5d2e0","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8176356339:AAE_BEqhtPErznWZ15266SgLRLVIBMojFtw/editMessageReplyMarkup","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Switch').item.json.callback_query.message.chat.id }}"},{"name":"message_id","value":"={{ $('Switch').item.json.callback_query.message.message_id }}"},{"name":"reply_markup","value":"="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,-1180],"id":"25450f70-8158-4f33-a834-689f0f2cbc54","name":"HTTP Request1"},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,580],"id":"d93ea9ba-068a-4c95-af99-5355078baae7","name":"add action typing4","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $json.callback_query.message.chat.id }}","messageId":"={{ $json.callback_query.message.message_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,980],"id":"1a1421c1-d40b-4d6b-b16a-bb8bc80db7db","name":"Telegram2","webhookId":"32e4b030-537b-4397-994e-92e187a5d2e0","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query.id ||  $json.callback_query}} ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1080,1560],"id":"a8be8c7c-a927-445d-aec8-6df6a8c3e954","name":"telegram answer query3","webhookId":"f66443f7-cb8d-4787-9217-28259b4b49c9","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $('Switch').item.json.callback_query.message.chat.id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1460,1280],"id":"3f3de4ac-8dbe-432c-95c4-a60a2058fcca","name":"add action typing5","webhookId":"1ba8d412-1c9c-492e-8760-632f4d54a561","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":311593875,"mode":"list","cachedResultName":"stats","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=311593875"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,1460],"id":"3346d3c9-a52f-4c1f-ac24-3570d6f3c522","name":"Google Sheets7","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA","mode":"list","cachedResultName":"bank","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1167621249,"mode":"list","cachedResultName":"total_stats","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1P7286xrQUodX2Xqj6M0fTCPVgE97g29tbniBP5vQZlA/edit#gid=1167621249"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1460,1660],"id":"88c24399-cd56-4a01-80ac-5e305931bad4","name":"Google Sheets8","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1700,1560],"id":"ea23efde-0f92-4be6-be7a-263fb6154e6a","name":"Merge1"},{"parameters":{"jsCode":"const stats = $input.all().map(i => i.json);\n\n// Найти общий блок\nconst summary = stats.find(s => typeof s.total_amount_all === 'number') ?? {\n  total_amount_all: 0,\n  count_all: 0,\n};\n\n// Получить список пользователей\nconst users = stats.filter(s => s.tg_chat_id);\n\n// Функция для форматирования чисел с пробелами\nfunction formatNumber(num) {\n  return num.toLocaleString('ru-RU');\n}\n\n// Экранирование текста под MarkdownV2\nfunction escapeMarkdown(text) {\n  return text.replace(/[_*[\\]()~`>#+=|{}.!\\\\-]/g, '\\\\$&');\n}\n\nlet text = `📊 *Итоги копилки*\\n\\n`;\n\ntext += `💰 *Общая сумма:* ${formatNumber(summary.total_amount_all)} ₽\\n`;\ntext += `🧾 *Общее количество взносов:* ${formatNumber(summary.count_all)}\\n\\n`;\n\nif (users.length) {\n  text += `👤 *Участники:*\\n\\n`;\n\n  for (const u of users) {\n    const name = escapeMarkdown(u.tg_chat_first_name || u.tg_chat_username || '—');\n    const usernameRaw = u.tg_chat_username ? `@${u.tg_chat_username.replace(/^@/, '')}` : '—';\n    const username = '`' + escapeMarkdown(usernameRaw) + '`';\n    const total = formatNumber(u.total_amount ?? 0);\n    const count = formatNumber(u.count ?? 0);\n    const average = formatNumber(Math.round(u.average ?? 0));\n\n    text += `👤 *${name}* \\\\(${username}\\\\)\\n`;\n    text += ` ┗ 💸 Внесено: *${total} ₽*\\n`;\n    text += ` ┗ 📥 Взносов: *${count}*\\n`;\n    text += ` ┗ ⚖️ Средний взнос: *${average} ₽*\\n\\n`;\n  }\n} else {\n  text += `_Нет данных о пользователях._`;\n}\n\nreturn [{\n  json: {\n    chat_id: $input.all()[0].json.chat_id,\n    text,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1560],"id":"42891918-72dc-47fb-aef1-36c33c276e2f","name":"Code2"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.chat_id }}","messageId":"={{ $json.message_id }}","replyMarkup":"inlineKeyboard","text":"={{ $json.text }}","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Добавить","additionalFields":{"callback_data":"add"}}]}},{"row":{"buttons":[{"text":"Закрыть","additionalFields":{"callback_data":"cancel"}}]}}]},"additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2460,1700],"id":"6b208cf2-eb17-432b-8774-872e4ce771d1","name":"Telegram3","webhookId":"1218272a-6efb-4a20-b5ec-65610fc4a373","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"56ec7aea-93ab-4a37-9254-e02e1ac8da45","name":"message_id","value":"={{ $('Switch').item.json.callback_query.message.message_id }}","type":"string"},{"id":"06da9c7a-447d-4919-adaf-ff0bcfcdd1b6","name":"chat_id","value":"={{ $('Switch').item.json.callback_query.message.chat.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1460,1860],"id":"a9d3acfe-7db6-41fd-a5b8-612dfe30cdb7","name":"save context1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2280,1700],"id":"5626dabf-774a-4d2d-9913-5b5cef3754bd","name":"Merge2"},{"parameters":{"operation":"editMessageText","chatId":"={{ $json.tg_chat_id }}","messageId":"={{ $json.tg_message_id }}","text":"=✅ *Успешно добавлено\\!*\n\n👤 *{{ $json.tg_chat_first_name }}* \\({{ $json.tg_chat_username.replace(/[_*[\\]()~`>#+=|{}.!-]/g, '\\\\$&') }}\\) внёс\\(ла\\): *{{ $json.added_amount }} ₽*\n\n💰 Спасибо за вклад в копилку\\! 👍\n\n🧾 Не забывай следить за статистикой через кнопку \\\"Статистика\\\"\\!","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2280,-800],"id":"1481a866-0821-403d-a5d4-a4356821e487","name":"Telegram4","webhookId":"1218272a-6efb-4a20-b5ec-65610fc4a373","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2100,-800],"id":"ab8ec239-4ae3-47b3-b6f8-9266fecfe4f4","name":"Merge3"},{"parameters":{"chatId":"={{ $json.tg_chat_id }}","text":"=✅ *Успешно добавлено\\!*\n\n👤 *{{ $json.tg_chat_first_name }}* \\({{ $json.tg_chat_username.replace(/[_*[\\]()~`>#+=|{}.!-]/g, '\\\\$&') }}\\) внёс\\(ла\\): *{{ $json.added_amount }} ₽*\n\n💰 Спасибо за вклад в копилку\\! 👍\n\n🧾 Не забывай следить за статистикой через кнопку \\\"Статистика\\\"\\!","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1920,320],"id":"cdf17b91-dedc-47da-8722-1bd61d154bb8","name":"Telegram","webhookId":"1218272a-6efb-4a20-b5ec-65610fc4a373","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1700,320],"id":"ac57def2-8a8f-417e-b94b-160ed74baf95","name":"Merge4"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"add action typing","type":"main","index":0}],[{"node":"telegram answer query","type":"main","index":0}],[{"node":"telegram answer query","type":"main","index":0}],[{"node":"telegram answer query1","type":"main","index":0}],[{"node":"telegram answer query2","type":"main","index":0}],[{"node":"collecting data1","type":"main","index":0},{"node":"Google Sheets6","type":"main","index":0},{"node":"add action typing4","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"telegram answer query3","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"telegram send message(add/stats)":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"save context":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"telegram answer query":{"main":[[{"node":"google sheets get all amounts","type":"main","index":0},{"node":"save context","type":"main","index":0},{"node":"add action typing1","type":"main","index":0}]]},"collecting data":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"google sheets get all amounts":{"main":[[{"node":"Merge","type":"main","index":0}]]},"google sheets get all amounts1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Google Sheets3":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"add action typing":{"main":[[{"node":"telegram send message(add/stats)","type":"main","index":0}]]},"telegram answer query1":{"main":[[{"node":"collecting data","type":"main","index":0},{"node":"google sheets get all amounts1","type":"main","index":0},{"node":"Google Sheets3","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"telegram answer query2":{"main":[[{"node":"send message custom","type":"main","index":0},{"node":"add action typing3","type":"main","index":0}]]},"collecting data1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"send message custom":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets6":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"add action typing2","type":"main","index":0}]]},"telegram answer query3":{"main":[[{"node":"add action typing5","type":"main","index":0},{"node":"Google Sheets7","type":"main","index":0},{"node":"Google Sheets8","type":"main","index":0},{"node":"save context1","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Google Sheets8":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"save context1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Telegram3","type":"main","index":0}]]},"Telegram2":{"main":[[]]},"Telegram1":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Google Sheets4":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Telegram4","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":false,"saveDataSuccessExecution":"none","saveManualExecutions":false,"errorWorkflow":"bcQQ6FgxYk3RibuS"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29701a81-1177-4743-a435-bbbaf50cba5d","triggerCount":1,"tags":[]}