bank-OsV3lqyz5LnbssKR.json
{"createdAt":"2025-07-29T22:41:34.590Z","updatedAt":"2025-07-30T00:16:50.000Z","id":"OsV3lqyz5LnbssKR","name":"bank","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{"userIds":"684693302"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"34781511-8c94-47b6-af42-acd6f7f54355","name":"Telegram Trigger","webhookId":"0db64f61-924d-41cf-9c83-b2d25e2a87bb","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Выберите действие:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"123","additionalFields":{"callback_data":"add"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-260],"id":"417eed06-bc4e-44ca-9984-7aa71bb0ba67","name":"Telegram","webhookId":"79c67553-7d66-420d-9d0a-7ac56d3b5f8d","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"e81152da-70a7-4755-8c1c-53c9296878e3"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"177795a3-bb50-45ff-af81-f338692be85e","leftValue":"={{$json[\"callback_query\"] ? $json[\"callback_query\"][\"data\"] : $json[\"message\"][\"text\"]}}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"569dc97f-b8b5-4921-9335-61c974e6c595","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"2596010a-5431-4fe7-b500-4e0cb6212166","name":"Switch"},{"parameters":{"resource":"callback","queryId":"{ $json[\"callback_query\"][\"id\"] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"id":"e151af05-1a1e-4fc0-b5a8-5b59a734a7fa","name":"Telegram1","webhookId":"f66443f7-cb8d-4787-9217-28259b4b49c9","credentials":{"telegramApi":{"id":"mjKwqvdH8Slg2a1l","name":"bank_bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[]]},"Telegram":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e1679eb-6013-488c-b7be-76ed777e89d9","triggerCount":1,"tags":[]}