errorobserver-bcQQ6FgxYk3RibuS.json
{"createdAt":"2025-07-10T16:23:41.915Z","updatedAt":"2025-07-17T08:58:26.000Z","id":"bcQQ6FgxYk3RibuS","name":"ErrorObserver","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-860,-60],"id":"236c66b3-77bf-47a3-accf-80289833968f","name":"Error Trigger"},{"parameters":{"chatId":"684693302","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-440,-200],"id":"edc372d3-c5de-4ed7-9ece-8f1a2262e93a","name":"Telegram","webhookId":"e85c29c1-b0f4-493f-94b2-b93a509c06ab","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"assignments":{"assignments":[{"id":"520c1bc6-df4f-4962-b299-8ba8099ad6c5","name":"message","value":"=❌ *Ошибка в AI-боте!*\n⚠️ Что-то пошло не так при выполнении сценария в n8n.\n📛 *Имя воркфлоу:* {{ $json.workflow.name || 'No name' }}\n🧩 *Узел:* {{ $json.execution.lastNodeExecuted || 'No last Node Executed' }}\n🕓 *Время:* {{ $now.format('dd-MM-yyyy HH:mm:ss') || 'No Time' }}\n📝 *Сообщение об ошибке:* {{ $json.execution.error.message || 'No Message' }}\n🔗 *Url:* {{ $json.execution.url || 'No Url' }}\n📄 *Стек вызовов:* ``` {{ $json.execution.error.stack || 'No Error Stack' }} ```\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,-200],"id":"d9d0b89f-bdb9-428f-8028-be13779e80c1","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"В n8n произошла ошибка, проанализируй ее, дай краткое описание ошибке, напиши в какой ноде произошла ошибка. И предложи варианты решения этой проблемы. Добавляй смайлики в ответе для более красивого ответа. Максимальное количество символов в ответе не должно превышать 2000"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-620,60],"id":"406e1c17-b45a-455a-bd4f-a575204f054f","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-620,240],"id":"6d96522a-09c8-40cd-bdbe-4a0deb281869","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"684693302","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-300,60],"id":"d341a819-d709-43e6-9f8b-d88ac609c277","name":"Telegram1","webhookId":"e85c29c1-b0f4-493f-94b2-b93a509c06ab","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"content":"### Триггер на ошибки.\nСрабатывает когда в любом из процессов происходит ошибка.","height":280,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-180],"id":"c7aa182f-e91a-424e-9eae-8104b048df32","name":"Sticky Note"},{"parameters":{"content":"### Генерация сообщения о возможных вариантах решения проблемы","height":400,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-20],"id":"ac7d7b9c-38c5-4840-8a82-00f5d6b2766f","name":"Sticky Note1"},{"parameters":{"content":"### Формирование сообщения об ошибке и отправка в телеграмм","height":220,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-260],"id":"16750556-0e61-427d-a0f6-e3d5b88aa021","name":"Sticky Note2"}],"connections":{"Error Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveExecutionProgress":true,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bcQQ6FgxYk3RibuS"},"staticData":{"node:Github Trigger":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b5bbdfc-68cc-424f-8177-31e795914a16","triggerCount":0,"tags":[]}