errorobserver-bcQQ6FgxYk3RibuS.json
{"createdAt":"2025-07-10T16:23:41.915Z","updatedAt":"2025-07-12T19:28:03.000Z","id":"bcQQ6FgxYk3RibuS","name":"ErrorObserver","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-860,-60],"id":"236c66b3-77bf-47a3-accf-80289833968f","name":"Error Trigger"},{"parameters":{"chatId":"684693302","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-440,-200],"id":"edc372d3-c5de-4ed7-9ece-8f1a2262e93a","name":"Telegram","webhookId":"e85c29c1-b0f4-493f-94b2-b93a509c06ab","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"assignments":{"assignments":[{"id":"520c1bc6-df4f-4962-b299-8ba8099ad6c5","name":"message","value":"=❌ *Ошибка в AI-боте!*\n⚠️ Что-то пошло не так при выполнении сценария в n8n.\n📛 *Имя воркфлоу:* {{ $workflow.name || 'No name' }}\n🧩 *Узел:* {{ $json.execution.lastNodeExecuted || 'No last Node Executed' }}\n🕓 *Время:* {{ $now.format('dd-MM-yyyy HH:mm:ss') || 'No Time' }}\n📝 *Сообщение об ошибке:* {{ $json.execution.error.message || 'No Message' }}\n🔗 *Url:* {{ $json.execution.url || 'No Url' }}\n📄 *Стек вызовов:* ``` {{ $json.execution.error.stack || 'No Error Stack' }} ```\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,-200],"id":"d9d0b89f-bdb9-428f-8028-be13779e80c1","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.execution }}","options":{"systemMessage":"В n8n произошла ошибка, проанализируй ее, дай краткое описание ошибке, напиши в какой ноде произошла ошибка. И предложи варианты решения этой проблемы. Добавляй смайлики в ответе для более красивого ответа. Максимальное количество символов в ответе не должно превышать 2000"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-620,60],"id":"406e1c17-b45a-455a-bd4f-a575204f054f","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-620,240],"id":"6d96522a-09c8-40cd-bdbe-4a0deb281869","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"684693302","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-300,60],"id":"d341a819-d709-43e6-9f8b-d88ac609c277","name":"Telegram1","webhookId":"e85c29c1-b0f4-493f-94b2-b93a509c06ab","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"owner":{"__rl":true,"value":"maksim-dev1","mode":"list","cachedResultName":"maksim-dev1","cachedResultUrl":"https://github.com/maksim-dev1"},"repository":{"__rl":true,"value":"n8n_backups","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://github.com/maksim-dev1/n8n_backups"},"events":["push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-860,-480],"id":"baaf903d-b6ca-43de-a040-2aa7f3645891","name":"Github Trigger","webhookId":"b33d59ce-b710-43a8-a17b-be1404e29f2c","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"54d249d8-f1cd-43b1-b96e-218d364ab3ef","name":"message","value":"=🆕 *Новый коммит* в репозитории [{{ $json.body.repository.name }}]({{ $json.body.repository.url }})\n👤 *Автор:* [{{ $json.body.pusher.name }}]({{ $json.body.repository.owner.url }})\n📝 *Сообщение:* {{ $json.body.commits[0].message }}  \n🔗 *Ссылка:* [Перейти к коммиту]({{ $json.body.commits[0].url }})  \n⏰ *Дата:* *{{ $json.body.commits[0].timestamp }}*\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,-480],"id":"828ee183-bbf7-4f5b-8d9c-2764622820a9","name":"Edit Fields1"},{"parameters":{"chatId":"684693302","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-440,-480],"id":"b6cc8529-d824-4c7d-869a-65670071df17","name":"Telegram2","webhookId":"650ec1f4-6181-4e88-ae62-348594c28fdb","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"content":"### Триггер на ошибки.\nСрабатывает когда в любом из процессов происходит ошибка.","height":280,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-180],"id":"c7aa182f-e91a-424e-9eae-8104b048df32","name":"Sticky Note"},{"parameters":{"content":"### Генерация сообщения о возможных вариантах решения проблемы","height":400,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-20],"id":"ac7d7b9c-38c5-4840-8a82-00f5d6b2766f","name":"Sticky Note1"},{"parameters":{"content":"### Формирование сообщения об ошибке и отправка в телеграмм","height":220,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-260],"id":"16750556-0e61-427d-a0f6-e3d5b88aa021","name":"Sticky Note2"},{"parameters":{"content":"### Триггер на push в репозиторий [n8n_backups](https://github.com/maksim-dev1/n8n_backups)","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-560],"id":"64918419-18c6-4f73-8840-8518d9a9e998","name":"Sticky Note3"},{"parameters":{"content":"### Формирование сообщения о пуше и отправка в телеграмм","height":260,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-560],"id":"d5efc86e-0c40-450c-936a-2e29c6d4fb41","name":"Sticky Note4"}],"connections":{"Error Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Github Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveExecutionProgress":true,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bcQQ6FgxYk3RibuS"},"staticData":{"node:Github Trigger":{"webhookId":557657914,"webhookEvents":["push"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2236f7ed-5e22-48e4-aab2-06d890968d4e","triggerCount":1,"tags":[]}