gitobserver-ky2ZB1pT7R3IPnX3.json
{"createdAt":"2025-07-17T06:30:32.556Z","updatedAt":"2025-07-17T06:30:52.000Z","id":"ky2ZB1pT7R3IPnX3","name":"GitObserver","active":true,"isArchived":false,"nodes":[{"parameters":{"owner":{"__rl":true,"value":"maksim-dev1","mode":"list","cachedResultName":"maksim-dev1","cachedResultUrl":"https://github.com/maksim-dev1"},"repository":{"__rl":true,"value":"n8n_backups","mode":"list","cachedResultName":"n8n_backups","cachedResultUrl":"https://github.com/maksim-dev1/n8n_backups"},"events":["push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-40,140],"id":"da0ab6c6-30d6-4593-a594-517ee325cdf1","name":"Github Trigger","webhookId":"b33d59ce-b710-43a8-a17b-be1404e29f2c","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"54d249d8-f1cd-43b1-b96e-218d364ab3ef","name":"message","value":"=🆕 *Новый коммит* в репозитории [{{ $json.body.repository.name }}]({{ $json.body.repository.url }})\n👤 *Автор:* [{{ $json.body.pusher.name }}]({{ $json.body.repository.owner.url }})\n📝 *Сообщение:* {{ $json.body.commits[0].message }}  \n🔗 *Ссылка:* [Перейти к коммиту]({{ $json.body.commits[0].url }})  \n⏰ *Дата:* *{{ $json.body.commits[0].timestamp }}*\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,140],"id":"4b007a48-0e49-44de-9e4a-17222a2a40ca","name":"Edit Fields1"},{"parameters":{"chatId":"684693302","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[380,140],"id":"76ba2f35-aa33-428b-81d9-67a60edb11ac","name":"Telegram2","webhookId":"650ec1f4-6181-4e88-ae62-348594c28fdb","credentials":{"telegramApi":{"id":"kmv0vwgwwt8mN2bt","name":"errorObserver"}}},{"parameters":{"content":"### Триггер на push в репозиторий [n8n_backups](https://github.com/maksim-dev1/n8n_backups)","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,60],"id":"864c6743-c7a5-4e68-98f6-cdd18e17a95d","name":"Sticky Note3"},{"parameters":{"content":"### Формирование сообщения о пуше и отправка в телеграмм","height":260,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,60],"id":"1f89faf4-2215-4b6b-880c-3ed2f5bfe4fa","name":"Sticky Note4"}],"connections":{"Github Trigger":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{"webhookId":558499721,"webhookEvents":["push"]}},"meta":null,"pinData":{},"versionId":"7e31063f-bcc5-482c-8796-afb0b41c6869","triggerCount":1,"tags":[]}