save-your-workflows-into-a-github-repository-q2qUQo8HBpPoZNW1.json
{"createdAt":"2025-07-11T08:11:31.865Z","updatedAt":"2025-07-11T09:43:59.000Z","id":"q2qUQo8HBpPoZNW1","name":"Save your workflows into a GitHub repository","active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"c1de847a-131e-4578-996b-475c4d38b59b"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[830,390],"typeVersion":1,"id":"8617873b-2991-43aa-a0fd-452f0dc7ebbc"},{"parameters":{"url":"https://n8n.progger.pro/rest/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[680,400],"typeVersion":1,"id":"9f8257d0-2952-4dda-ae9d-9bc0fb7aae7f"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[1180,220],"typeVersion":1,"alwaysOutputData":true,"id":"2d2f1220-4ad9-40ce-b1a2-e5ed01a9691e","webhookId":"9937d174-52ea-42a8-9d99-82e9ec6434d1","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[1380,390],"typeVersion":1,"id":"91f48690-ca30-47c7-ba7a-f5af2c695f1e"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[1180,550],"typeVersion":1,"id":"cc99f41c-242f-411e-9543-e94772ce7f8b"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[1680,390],"typeVersion":1,"id":"0dd7ae8a-0c4b-4141-b25b-6688f6d32d6a"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[1880,220],"typeVersion":1,"id":"0d017433-435d-4298-9a25-b74b495639f5"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[1880,390],"typeVersion":1,"id":"e807c23f-5b90-4b3a-827c-91d563d5b2d8"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[1880,560],"typeVersion":1,"id":"ef9f28ea-3cf1-46e8-8ea2-156f533319bb"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[2080,270],"typeVersion":1,"id":"8b8942de-2052-48d0-983b-1cf42fb3b72d","webhookId":"fa9276c0-431c-4dd2-bfe1-1a1434779722","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[2080,550],"typeVersion":1,"id":"3e79e10b-ca8a-4324-928a-4116c475ed66","webhookId":"47f56767-608f-4f3d-bff4-d98fa83c49b1","credentials":{"githubApi":{"id":"QYbvP76bZVJO6sG9","name":"GitHub account"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[1530,390],"typeVersion":1,"id":"95e43a29-4309-4e7d-9d20-47dcc773cc9c"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[380,540],"typeVersion":1,"id":"1817fa12-a04e-4c15-a19f-8e815a6832f2"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[980,390],"typeVersion":1,"id":"1f307691-33f9-4066-ac3c-49814616b4f6"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"octocat"},{"name":"repo.name","value":"Hello-World"},{"name":"repo.path","value":"my-team/n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[530,390],"typeVersion":1,"id":"637caeec-04ff-4879-b23b-7af8cc76b018"}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"817"},"pinData":{},"versionId":"192fab1b-df51-4169-95aa-f01ce727a599","triggerCount":0,"tags":[]}