taskanalyticspantsir-5N4qwgVpJwMNXAEb.json
{"createdAt":"2025-07-17T06:20:00.718Z","updatedAt":"2025-07-17T14:17:11.000Z","id":"5N4qwgVpJwMNXAEb","name":"taskAnalyticsPantsir","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-380,-20],"id":"83ec2e18-dcaa-429e-9a14-aa212b008f1f","name":"Telegram Trigger","webhookId":"144c869f-a16f-4dc0-bf4f-757b494dd0fa","credentials":{"telegramApi":{"id":"PGYLPyS15xoruCXM","name":"Task analysis Pantsir"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.document }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"93c833cd-916f-47fc-890f-33579373f70d"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-160,-20],"id":"a3174ccb-47cd-453e-86df-5337df80a1ce","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[60,-140],"id":"d34b2d41-cd8a-4f16-b532-19fe2bc89831","name":"Telegram","webhookId":"141bd19b-ab6b-4379-89af-24420f47533b","credentials":{"telegramApi":{"id":"PGYLPyS15xoruCXM","name":"Task analysis Pantsir"}}},{"parameters":{"operation":"xls","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[260,-140],"id":"1ce68033-ff59-4c9f-8cac-a868d83ca1f7","name":"Extract from File"},{"parameters":{"jsCode":"// 1. Вспомогательные функции\nfunction timeToSec(hms = \"00:00:00\") {\n  const [h, m, s] = hms.split(':').map(Number);\n  return (h||0)*3600 + (m||0)*60 + (s||0);\n}\nfunction secToHms(sec) {\n  const h = Math.floor(sec / 3600);\n  const m = Math.floor((sec % 3600) / 60);\n  const s = sec % 60;\n  return [h, m, s].map(v => String(v).padStart(2, '0')).join(':');\n}\n\n// 2. Преобразуем вход в массив JSON\nconst rows = items.map(i => i.json);\n\n// 3. Находим все уникальные спринты\nconst sprints = [...new Set(rows.map(r => r[\"Спринт\"]).filter(Boolean))];\n\n// 4. Собираем структуру по спринтам\nconst output = sprints.map(sprint => {\n  // 4.1. Все задачи этого спринта\n  const sprintTasks = rows.filter(r => r[\"Спринт\"] === sprint);\n\n  // 4.2. Подсчёт для спринта\n  const sumEstimateSprint = sprintTasks.reduce((sum, r) => sum + (Number(r[\"Трудозатраты\"])||0), 0);\n  const sumSpentSecSprint = sprintTasks.reduce((sum, r) => sum + timeToSec(r[\"Затраченное время\"]), 0);\n  const sumSpentSprint = secToHms(sumSpentSecSprint);\n\n  // 4.3. Уникальные проекты в спринте\n  const projects = [...new Set(\n    sprintTasks\n      .map(r => r[\"Номер задачи\"].split('-')[0].trim())\n      .filter(Boolean)\n  )];\n\n  // 4.4. Для каждого проекта — подсчёт и разбивка по ответственным\n  const projectData = projects.map(proj => {\n    const projTasks = sprintTasks.filter(r => r[\"Номер задачи\"].startsWith(proj + '-'));\n\n    // подсчёт для проекта\n    const sumEstimateProj = projTasks.reduce((sum, r) => sum + (Number(r[\"Трудозатраты\"])||0), 0);\n    const sumSpentSecProj = projTasks.reduce((sum, r) => sum + timeToSec(r[\"Затраченное время\"]), 0);\n    const sumSpentProj = secToHms(sumSpentSecProj);\n\n    // разбивка по ответственным\n    const responsibles = [...new Set(projTasks.map(r => r[\"Ответственный\"]))];\n    const responsiblePersons = responsibles.map(person => {\n      const tasksFor = projTasks.filter(r => r[\"Ответственный\"] === person);\n      const sumEst = tasksFor.reduce((s, r) => s + (Number(r[\"Трудозатраты\"])||0), 0);\n      const sumSec = tasksFor.reduce((s, r) => s + timeToSec(r[\"Затраченное время\"]), 0);\n      return {\n        responsible: person,\n        taskCount: tasksFor.length,\n        sumEstimate: sumEst,\n        sumSpent: secToHms(sumSec),\n        tasks: tasksFor\n      };\n    });\n\n    return {\n      project: proj,\n      totalTasks: projTasks.length,\n      sumEstimate: sumEstimateProj,\n      sumSpent: sumSpentProj,\n      responsiblePersons\n    };\n  });\n\n  // 4.5. Итоговый объект спринта\n  return {\n    json: {\n      sprint,\n      totalTasks: sprintTasks.length,\n      sumEstimate: sumEstimateSprint,\n      sumSpent: sumSpentSprint,\n      projects: projectData\n    }\n  };\n});\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,-140],"id":"dc07dec3-2595-4e58-b047-926a93650ef0","name":"Code"},{"parameters":{"promptType":"define","text":"={{ $json }}","options":{"systemMessage":"Проанализируй данные о выполненных задачах и напиши краткое резюме."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1120,1100],"id":"631814e1-2e41-471e-9672-15ee7a529e7c","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,1240],"id":"425345b5-07f5-4495-891c-89c86aaa473c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Отправьте файл .xls","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-120,240],"id":"eb004699-adbd-47b9-84d3-2d6c97ec6d4e","name":"Telegram1","webhookId":"26322a0e-a184-4e6c-b182-d25f80caa810","credentials":{"telegramApi":{"id":"PGYLPyS15xoruCXM","name":"Task analysis Pantsir"}}},{"parameters":{"resource":"spreadsheet","title":"=Отчет по спринтам {{new Date().toLocaleDateString()}}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1740,1220],"id":"0f3f7d48-949f-4b08-b7c5-cd728edd31b7","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1520,1220],"id":"aaa840ab-5098-4d0b-876c-9eaf4f0b9fee","name":"Aggregate"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheets[0].properties.sheetId }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"spreadsheetId","displayName":"spreadsheetId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sheets","displayName":"sheets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"spreadsheetUrl","displayName":"spreadsheetUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2000,1220],"id":"0ba4b5aa-b6af-40db-b2e7-3d95e6ee89ae","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11IfGdY0vd0qVX3bSaXqvinkmtRAQMVcJy_JeVA5KlDU","mode":"id"},"sheetName":{"__rl":true,"value":"0","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Sprint","displayName":"Sprint","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Responsible","displayName":"Responsible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tasks","displayName":"Tasks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estimate","displayName":"Estimate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Spent","displayName":"Spent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1780,1540],"id":"5e808e6e-2df1-43a9-b2e1-701cb2332328","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"jsCode":"const data = [];\n\n// items – результат предыдущего Function, каждый item.json имеет sprint, projects[]\nfor (const { json: sprintBlock } of $input.all()) {\n  const sprint = sprintBlock.sprint;\n  for (const proj of sprintBlock.projects) {\n    for (const br of proj.responsiblePersons) {\n      data.push({\n        Sprint: sprint,\n        Project: proj.project,\n        Responsible: br.responsible,\n        Tasks: br.taskCount,\n        Estimate: br.sumEstimate,\n        Spent: br.sumSpent,\n      });\n    }\n  }\n}\n\n// возвращаем как JSON-строки\nreturn data.map(row => ({ json: row }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,1520],"id":"b45ce0bb-8283-4cfb-b381-4675ad7440ae","name":"Code1"},{"parameters":{"resource":"spreadsheet","title":"=Отчет по спринтам {{new Date().toLocaleDateString()}}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[660,-140],"id":"88988ca1-76d3-4ae3-aef4-39b79b569b09","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"title":"={{ $('Code').item.json.sprint }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,120],"id":"8433ced2-9a55-444a-9379-1922bf035b58","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"RkBkeo6BdymtuY0A","name":"n8n account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5eba8b0-dcef-4506-9724-025ece7da1f6","triggerCount":0,"tags":[]}