test_tg_channel-Lf1iu7qnYUbgG2Hg.json
{"createdAt":"2025-07-11T09:44:54.529Z","updatedAt":"2025-07-13T15:18:01.000Z","id":"Lf1iu7qnYUbgG2Hg","name":"test_tg_channel","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,960],"id":"4dc3d7d3-8eda-4430-bac4-f8d004872245","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://habr.com/ru/rss/hubs/flutter/articles/all/?with_tags=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,2000],"id":"5deea8fc-8daa-4db2-9aeb-863fd020aa27","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"books","options":{}},"id":"5a0c8770-1d9b-4962-927e-de3b96dbebad","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[740,1560],"typeVersion":1},{"parameters":{"options":{}},"id":"bb7cb61a-e473-45ed-9c73-5c4163176a5a","name":"Convert to CSV File","type":"n8n-nodes-base.convertToFile","position":[1520,1560],"typeVersion":1.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"books","cssSelector":".row > li","returnValue":"html","returnArray":true}]},"options":{}},"id":"18541e81-d7b8-4181-a24f-5299d2b81a96","name":"Extract all books from the page","type":"n8n-nodes-base.html","position":[520,1560],"typeVersion":1.2},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"price","order":"descending"}]},"options":{}},"id":"6b938720-1903-49e2-abb8-24c6593d65ce","name":"Sort by price","type":"n8n-nodes-base.sort","position":[1180,1560],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"books","extractionValues":{"values":[{"key":"title","cssSelector":"h3 > a","returnValue":"attribute","attribute":"title"},{"key":"price","cssSelector":".price_color"}]},"options":{}},"id":"f532a4c8-d2ad-4d0d-baa7-8ac610e597e7","name":"Extract individual book price","type":"n8n-nodes-base.html","position":[960,1560],"typeVersion":1.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1zyiRT7iIlfzZiskC9vDVoAFnW_UNMVXX0-ESVU1yYxY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zyiRT7iIlfzZiskC9vDVoAFnW_UNMVXX0-ESVU1yYxY/edit?usp=drivesdk","cachedResultName":"Scraped Data"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zyiRT7iIlfzZiskC9vDVoAFnW_UNMVXX0-ESVU1yYxY/edit#gid=0","cachedResultName":"Sheet1"},"columns":{"value":{},"schema":[{"id":"title","type":"string","display":true,"removed":false,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price","type":"string","display":true,"removed":false,"required":false,"displayName":"price","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":[]},"options":{}},"id":"781b6102-eed5-4df0-b876-03e3a31488a6","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1520,1780],"typeVersion":4.2,"disabled":true},{"parameters":{"resource":"worksheet","operation":"append","workbook":{"__rl":true,"mode":"id","value":"=EA8A73F11507ECE9!24392"},"worksheet":{"__rl":true,"mode":"list","value":"{00000000-0001-0000-0000-000000000000}","cachedResultName":"Sheet1"},"dataMode":"autoMap","options":{}},"id":"712f1bae-7f9b-4d89-99be-184e35801966","name":"Save to Microsoft Excel 365","type":"n8n-nodes-base.microsoftExcel","position":[1520,1340],"typeVersion":2.1,"disabled":true},{"parameters":{"sendTo":"constact@mihai.ltd","subject":"bookstore csv","message":"Hey, here's the scraped data from the online bookstore!","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"id":"f4726ad4-5ebc-42f9-90bb-6ee3697ec1b2","name":"Send CSV via e-mail","type":"n8n-nodes-base.gmail","position":[1740,1560],"typeVersion":2.1,"webhookId":"1eb56297-3fcd-4da6-a806-b095a609c4c9","disabled":true},{"parameters":{"url":"http://books.toscrape.com","options":{"allowUnauthorizedCerts":true}},"id":"f1e423fb-bc6f-4db4-b2fc-dc2be1a3fcda","name":"Fetch website content","type":"n8n-nodes-base.httpRequest","position":[300,1560],"typeVersion":4.1},{"parameters":{"url":"http://www.paulgraham.com/articles.html","options":{}},"id":"cb97430d-a575-4b6b-aaa3-efdc8c1d085d","name":"Fetch Essay List","type":"n8n-nodes-base.httpRequest","position":[180,500],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"essay","cssSelector":"table table a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"186628b0-d6f4-4c09-93bb-b9672ff3f113","name":"Extract essay names","type":"n8n-nodes-base.html","position":[380,500],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"essay","options":{}},"id":"412dcdbc-198b-417f-ba6e-6be09830f6f4","name":"Split out into items","type":"n8n-nodes-base.splitOut","position":[580,500],"typeVersion":1},{"parameters":{"url":"=http://www.paulgraham.com/{{ $json.essay }}","options":{}},"id":"c8ea8bc1-211c-4f26-a2b2-7a126c9443d5","name":"Fetch essay texts","type":"n8n-nodes-base.httpRequest","position":[980,500],"typeVersion":4.2},{"parameters":{"operationMode":"documentLoader","options":{}},"id":"8ff8e815-40a1-446b-bd40-30803d14b4ed","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1480,500],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"7b337b47-a1c6-470e-881f-0c038b4917e5","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"ca820521-4fff-4971-84b5-e6e2dbd8bb7a","name":"summary","type":"string","value":"={{ $json.response.text }}"},{"id":"0fd9b5e3-44dd-49a3-82c1-3a4aa4698376","name":"url","type":"string","value":"=http://www.paulgraham.com/{{ $('Limit to first 3').first().json.essay }}"}]},"options":{}},"id":"d26b938f-03be-43ea-99a1-5f0b2a2dd098","name":"Clean up","type":"n8n-nodes-base.set","position":[2180,500],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"f92fbcf4-daab-4192-b649-3b901554fdd8","name":"Merge","type":"n8n-nodes-base.merge","position":[1980,500],"typeVersion":3},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract Text Only').item.json.data }}","options":{}},"id":"b45c64d4-d72f-4937-948f-21571065a90e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1560,720],"typeVersion":1},{"parameters":{"chunkSize":6000,"options":{}},"id":"8a8e0f36-cccd-4a2a-a1ea-4e0d95bd64b0","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1560,900],"typeVersion":1},{"parameters":{"maxItems":3},"id":"93264027-76d2-421c-852a-25dde77ac0a5","name":"Limit to first 3","type":"n8n-nodes-base.limit","position":[780,500],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"data","cssSelector":"body","skipSelectors":"img,nav"}]},"options":{}},"id":"7eee0d75-639c-4a68-93d5-a13b3e9095b0","name":"Extract Text Only","type":"n8n-nodes-base.html","position":[1240,500],"typeVersion":1.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"items","cssSelector":"item","returnValue":"html","returnArray":true}]},"options":{}},"id":"d908f1c1-7cff-4231-a1d2-07a80f4dfcbf","name":"Extract all books from the page1","type":"n8n-nodes-base.html","position":[640,2000],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"items","options":{}},"id":"b8aca950-89f7-4b56-861f-a1af6cf01a3e","name":"Split Out1","type":"n8n-nodes-base.splitOut","position":[840,2000],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"items","extractionValues":{"values":[{"key":"title","cssSelector":"title","returnValue":"html","returnArray":true},{"key":"link","cssSelector":"link","returnValue":"html","returnArray":true},{"key":"description","cssSelector":"description","returnValue":"html","returnArray":true},{"key":"pubDate","cssSelector":"pubDate","returnValue":"html","returnArray":true}]},"options":{}},"id":"d65da944-ef6e-4fff-8821-fa9e0b73d4a4","name":"Extract all books from the page2","type":"n8n-nodes-base.html","position":[1100,2160],"typeVersion":1.2},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1360,800],"id":"4f07e136-7d04-4c91-b6ee-ddcc5c96a04f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2v8o2u6caNwpzQBd","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Fetch website content","type":"main","index":0},{"node":"Fetch Essay List","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract all books from the page1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Extract individual book price","type":"main","index":0}]]},"Convert to CSV File":{"main":[[{"node":"Send CSV via e-mail","type":"main","index":0}]]},"Extract all books from the page":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Sort by price":{"main":[[{"node":"Save to Microsoft Excel 365","type":"main","index":0},{"node":"Convert to CSV File","type":"main","index":0},{"node":"Save to Google Sheets","type":"main","index":0}]]},"Extract individual book price":{"main":[[{"node":"Sort by price","type":"main","index":0}]]},"Fetch website content":{"main":[[{"node":"Extract all books from the page","type":"main","index":0}]]},"Fetch Essay List":{"main":[[{"node":"Extract essay names","type":"main","index":0}]]},"Extract essay names":{"main":[[{"node":"Split out into items","type":"main","index":0}]]},"Split out into items":{"main":[[{"node":"Limit to first 3","type":"main","index":0}]]},"Fetch essay texts":{"main":[[{"node":"Extract Text Only","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Clean up","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Limit to first 3":{"main":[[{"node":"Fetch essay texts","type":"main","index":0}]]},"Extract Text Only":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Extract all books from the page1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Extract all books from the page2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"612fd2b3-7221-4bad-8a37-0984f23e2142","triggerCount":0,"tags":[]}