test_tg_channel-Lf1iu7qnYUbgG2Hg.json
{"createdAt":"2025-07-11T09:44:54.529Z","updatedAt":"2025-07-11T11:26:32.000Z","id":"Lf1iu7qnYUbgG2Hg","name":"test_tg_channel","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"4dc3d7d3-8eda-4430-bac4-f8d004872245","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://habr.com/ru/rss/hubs/flutter/articles/all/?with_tags=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"5deea8fc-8daa-4db2-9aeb-863fd020aa27","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[440,0],"id":"ff06c812-d2d2-4168-bf19-c7b79cee30df","name":"Markdown"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bf4f0a88-6488-453b-bae6-360c3d963c8c","triggerCount":0,"tags":[]}